# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
.Python
.env
.env.*

# VS Code
.vscode/

# Django-specific
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations
**/migrations/
**/migrations/*.py
!**/migrations/__init__.py

# Virtual environment
venv/
ENV/
env/
.venv/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Build artifacts
build/
dist/
*.egg
.eggs/
MANIFEST

# Docker
*.pid
*.seed
# Docker-related files

# IDEs
.idea/
*.sublime*
*.swp

# Node/npm (if using Tailwind or front-end tooling)
node_modules/
npm-debug.log
yarn-error.log

# JetBrains (e.g., PyCharm)
.idea/

# Secret configs
secrets.json
*.pem
*.crt
*.key
*.envrc

messaging_app/messaging_app/minikube-linux-amd64
messaging_app/minikube-linux-amd64
